@tailwind base;
@tailwind components;
@tailwind utilities;

input.password-hide {
  -webkit-text-security: disc;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@font-face {
  font-family: "lpmq";
  src: url("./assets/font/lpmq.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer components {
  /* body {
    background-color: #f2f2f2;
  } */
  .mobile-bg {
    background-repeat: round;
    height: 35vh;
    width: 100vw;
    background-image: url("./assets/image/BG Mobile.png");
  }

  .desktop-bg {
    background-repeat: round;
    height: 100vh;
    width: 100vw;
    background-image: url("./assets/image/BG.png");
  }
  .header-bg-desktop {
    background-repeat: round;
    width: 100vw;
    height: 65vh;
    top: -100px;
    position: absolute;
    background-image: url("./assets/image/bgHeader.png");
  }
  /* .header-bg-mobile {
    background-repeat: round;
    height: 80vh;
    top: -100px;
    position: absolute;
    background-image: url("./assets/image/BG Mobile.png");
  } */

  .header-bg-mobile {
    @apply absolute -top-[100px] h-[55vh] bg-color1 bg-cover bg-repeat-round md:h-[54vh];
    background-image: url("./assets/image/BG Mobile.png");
  }

  .wrapperButtonseringDibaca {
    @apply flex h-8 w-20 cursor-pointer items-center justify-center rounded-full bg-color5 px-5 py-1 text-[12px] text-color2;
  }

  .cardSurat {
    @apply z-50 flex w-full flex-col justify-center gap-6 lg:flex-row lg:flex-wrap;
  }

  .cardItemSurat {
    @apply flex h-20 w-full cursor-pointer items-center justify-between gap-2 rounded bg-white p-2 shadow lg:w-72;
  }

  .tabMenuActive {
    @apply flex cursor-pointer items-center justify-center gap-1 rounded bg-color6 p-2 text-color2 lg:w-24;
  }
  .tabMenuNoActive {
    @apply flex cursor-pointer items-center justify-center gap-2 rounded p-2 text-white outline outline-white;
  }
}
